.section {
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(196, 192, 192)
}

.section__header {
    border-bottom: 1px solid #ddd;
}

.section__header--grid {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #ddd ;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__header--title {
    margin: 0;
    font-size: 20px;
    padding: 20px;
}

.section__body {
    padding: 20px;
}