.section {
    margin: 10px 0;
    background-color: hsl(0, 0%, 100%);
    list-style:none;
    box-shadow: 0 0 5px hsl(0, 0%, 87%)
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
    font-size: 20px;
}

.section__body {
    padding: 20px;
}