.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__newTask {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 90%);
}

@media (max-width: 767px) {
    .form__input {
        width: 100%;
    }
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    cursor: pointer;
    transition:0.5s;
    transform: scale(1.05);
}

.form__button:active {
    background-color: hsl(180, 81%, 35%);
    text-decoration: underline solid hsl(180, 98%, 25%);
}