.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: hsl(180, 100%, 25%);
    border: none;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

@media(max-width: 767px) {
    .buttons__button {
         flex-basis: 100%;
         margin: 10px;
    } 
}

.buttons__button:hover {
    color: hsl(180, 79%, 41%);
}

.buttons__button:active {
    border-radius: 5px;
}

.buttons__button:disabled {
    color: hsl(0, 0%, 80%);
}